* {
	box-sizing: border-box;         /* (для всех элементов  страницы * чтобы не увеличивать размер элемента на странице размеры
	                                 рамки и padding-а  - откладывались внутрь этого элемента, т.е они будут 
	                                сжимать контент , и не будут увеличивать размер элемента) */
}

html {
	font-size: 10px;
	
}

body {
	margin: 0;
	padding: 0;
	background-color: #464f54;         /* (цвет фона body) */
	color: #000;                        /* цвет шрифта страницы */
	font-family: Georgia, serif;
	font-size: 2.7rem;
}

.article {
	width: 90%;                        /* (составляет 90% от ширины родителя т.е. - body) */
	margin: 140px auto 20px;                /* (140px - это отступ  данного тега от границ страницы 
	                                    сверху и снизу;auto - располагает тег по середине body - 
	                                   т.е выравнивает его по центру) */  
	
	background-color: #fff;  
	/* height: 30px; */                 /* (высота тега artikle , мы его прописывали, чтобы он был 
	                                       виден на странице, но мы его закоментируем т.к. не будем 
	                                     задавать его высоту, поскольку наша статья будет динамической ,
	                                     т.е в процессе увеличения текста она будет расширять страницу вниз) */
	 padding: 200px 130px 130px 130px;  /* (настройка внутренний отступов ) */
}